.App {
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center;
}

header{
  width:100%;
  text-align: start;
}

h1{
  font-size: 45px;
  margin-left: 50px;
}

.logInForm{
  width: 30%;
  border: 5px black solid;
  border-radius: 30px;
  padding-bottom: 45px;
}

h2{
  font-size: 30px;
  margin-bottom: 0px;
}

p{
  margin-top:0px;
}

button{
  font-size: 25px;
  font-weight: bolder;
  padding-top:5px;
  padding-bottom:5px;
  padding-left:10px;
  padding-right:10px;
  border-radius: 30px;
}
