.logIn {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
body {
  background-color: #584a96;
}

.signUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #7a69c8;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 50px;
}

ul a {
  font-family: "Mulish", sans-serif;
  font-weight: bolder;
  color: #5b3f8d;
  text-decoration: none;
}

ul a:hover {
  color: black;
}

h1 {
  font-size: 45px;
  margin-left: 50px;
  color: #5b3f8d;
  font-family: "Mulish", sans-serif;
}

.logInForm {
  width: 300px;
  padding-bottom: 45px;
  margin-top: 70px;
  background-color: #7a69c8;
  box-shadow: 8px 8px #5b3f8d;
}

.signUpForm {
  width: 300px;
  padding-bottom: 45px;
  margin-top: 70px;
  background-color: #7a69c8;
  box-shadow: 8px 8px #5b3f8d;
}

h2 {
  font-size: 40px;
  margin-bottom: 0px;
  font-family: "Mulish", sans-serif;
  font-weight: bolder;
  color: white;
}

p {
  margin-top: 0px;
  font-size: 12px;
  font-family: "Mulish", sans-serif;
  font-weight: bolder;
  color: white;
}

p2 {
  color: #010b24;
  background-color: #7a69c8;
  font-family: "Mulish", sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
  display: block;
  width: 300px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 70px;
  text-decoration: none;
  display: flex;
  text-align: center;
  box-shadow: 8px 8px #5b3f8d;
}

button {
  font-size: 25px;
  font-weight: bolder;
  font-family: "Mulish", sans-serif;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  background-color: #ba68c8;
  box-shadow: 5px 5px #5b3f8d;
}

button:hover {
  background-color: #69a7c9;
  cursor: pointer;
}

a {
  font-family: "Mulish", sans-serif;
  color: white;
}
